.dashboard {
  flex: 1;
  padding: 1.5rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 2.2fr 2fr;
  grid-template-rows: auto 1fr;
  column-gap: 6rem;
  row-gap: 1rem;
}

.grid-bottom-left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  min-height: 0;
}

.grid-right {
  min-height: 0;
  grid-column: 2;
  grid-row: 1 / span 2;
  display: flex;
}

.card {
  overflow: hidden;
}

.result {
  color: white;
  margin-top: 2.5rem;
}

.result h1 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1;
  margin: 0.5rem 0 0;
}

.result h3 {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.15;
  margin: 0.5rem 0 0 0;
}

.result p {
  margin-top: 0.25rem;
}

.card h4 {
  margin: 0;
  font-weight: 500;
}

.card {
  border-radius: 16px;
  padding: 1.25rem 1.5rem;
  background: white;
}

.card-map {
  padding: 0;
  overflow: hidden;
}

.card p {
  margin: 0.25rem 0 0 0;
  font-size: 0.8rem;
}

td {
  font-size: 0.8rem;
}

.card h3 {
  margin: 0.75rem 0 2rem;
}

.link {
  text-decoration: none;
  font-size: 0.8rem;
  color: black;
  background: white;
  padding: 0.5rem 1.6rem;
  border-radius: 50px;
}

.link:hover {
  background-color: #0f38ce;
  color: white;
  cursor: pointer;
}
