form {
  background: white;
  border-radius: 40px;
  width: 70%;
  max-width: 1000px;
  height: 80vh;
  padding: 3rem 4rem;
  overflow-y: auto;
  box-sizing: border-box;
}

h1 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.1;
}

h3 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.1;
}

h3 .highlight {
  color: #0f38ce;
  font-weight: 500; /* optional, make it bolder */
}

label {
  font-size: 1.25rem;
}

input {
  background-color: #e3f4ff;
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  outline: none;
}

label {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

.options-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-color: #e3f4ff;
  border-radius: 12px;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.options-grid input {
  display: none;
}

.options-grid img {
  width: 125px;
  height: 125px;
}

.option.selected {
  background-color: #0f38ce;
  color: white;
}

.option.selected img {
  filter: brightness(0) invert(1);
}
.options-text {
  font-size: 1.1rem;
  margin-top: 0.5rem;
}
