.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  padding: 2rem; /* space around entire container */
  box-sizing: border-box;
}

.title {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
}

.form-wrapper {
  flex: 0 0 60%;
  background: white;
  border-radius: 20px;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
  padding: 2rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  overflow-y: auto;
}

h1 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.1;
}

h3 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.1;
}

input {
  background-color: #e3f4ff;
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  outline: none;
}

label {
  font-size: 1rem;
  display: block;
  margin-top: 1.75rem;
}

.form-wrapper p {
  font-size: 0.7rem;
  margin-bottom: 0rem;
}

.options-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-color: #e3f4ff;
  border-radius: 12px;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.options-grid input {
  display: none;
}

.options-grid img {
  width: 125px;
  height: 125px;
}

.option.selected {
  background-color: #0f38ce;
  color: white;
}

.option.selected img {
  filter: brightness(0) invert(1);
}
.options-text {
  font-size: 0.8rem;
}

input {
  margin-top: 1.25rem;
}
