form {
  margin: -50px auto 1rem auto;
  background: white;
  border-radius: 40px;
  padding: 3rem 6rem;
  position: relative;
  z-index: 10;
}

h3 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.1;
}

h3 .highlight {
  color: #0f38ce;
  font-weight: 500; /* optional, make it bolder */
}

label {
  font-size: 1.5rem;
}

input {
  background-color: #e3f4ff;
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  outline: none;
}

label {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

@media (min-width: 1350px) {
  h3 {
    font-size: 2.75rem;
  }

  form {
    margin: -125px auto 1rem auto;
    background: white;
    border-radius: 60px;
    padding: 3rem 7rem;
  }
}

.options-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-color: #e3f4ff;
  border-radius: 12px;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.options-grid input {
  display: none;
}

.options-grid img {
  width: 120px;
  height: 120px;
}

.option.selected {
  background-color: #0f38ce;
  color: white;
}

.option.selected img {
  filter: brightness(0) invert(1);
}
.options-text {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
