.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  padding: 1.5rem;
  box-sizing: border-box;
}

.title {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
}

.title h1 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1;
  padding-left: 1rem;
  margin: 0.75rem 0 0 0;
}

.title h3 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.15;
  padding-left: 1rem;
}

form {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  overflow-y: auto;
}

.form-wrapper {
  flex: 0 0 50%;
  background: white;
  border-radius: 20px;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
  padding: 0.75rem;
}

.form-wrapper p {
  font-size: 0.7rem;
  margin-bottom: 0rem;
}

input {
  background-color: #e3f4ff;
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  outline: none;
  margin-top: 1.25rem;
}

label {
  font-size: 1rem;
  display: block;
  margin-top: 1.75rem;
}

.options-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-color: #e3f4ff;
  border-radius: 12px;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.options-grid input {
  display: none;
}

.options-grid img {
  width: 100%;
  max-width: 110px;
  height: auto;
}

.option.selected {
  background-color: #0f38ce;
  color: white;
}

.option.selected img {
  filter: brightness(0) invert(1);
}
.options-text {
  font-size: 0.8rem;
}

.submit {
  margin-top: 2rem;
  color: white;
  background: #0f38ce;
  padding: 0.5rem 1.6rem;
  border: none;
  border-radius: 50px;
  align-self: flex-start;
}

.result-benchmarks table {
  width: 100%;
  border-collapse: collapse;
  margin: 0.5rem 0 0 0;
}
