.header {
  height: 320px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  padding-bottom: 4rem;
  color: white;
}

h1 {
  font-weight: 300;
  font-size: 3.5rem;
  text-align: left;
  margin-left: 6rem;
  line-height: 1;
}

@media (min-width: 1350px) {
  h1 {
    font-size: 4.5rem;
    margin-left: 7rem;
    line-height: 2.5;
  }
  .line-break {
    display: none;
  }
}
