html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.app-background {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}
